<div class="po-wrapper">
  <app-menu> </app-menu>
  <po-toolbar
    p-actions-icon="po-icon-user"
    [p-profile]="profile"
    [p-profile-actions]="profileActions"
    p-title="Personal Manager Finance"
  >
  </po-toolbar>

  <po-page-default p-title="">
    <style>
      .sample-container {
        margin-top: 50px;
      }
    </style>

    <div class="po-row">
      <div class="sample-container">
        <po-widget class="po-sm-12">
          <div class="po-font-title">Hello, Matheus.</div>
          <div class="po-font-subtitle">Let's work hard!</div>
        </po-widget>
      </div>
    </div>
  </po-page-default>

  <router-outlet></router-outlet>
</div>
